.navigation {
    background: #f4f5f6;
    border-bottom: .1rem solid #d1d1d1;
    display: block;
    height: 5.2rem;
    left: 0;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navigation h3 {
    display: inline;
    line-height: 5.2rem;
    padding: 0;
    text-decoration: none;
    margin: 0;
}

#main {
    margin-top: 100px;
}

#demo-links {
    float: right;
    list-style: none;
    margin-bottom: 0;
}

#demo-links a {
    display: inline;
    line-height: 5.2rem;
}

#class-title {
    margin-top: 60px;
}